
<div class="row">
	<div class="col-md-12"><h4 class="text-center">To Do List</h4></div>	
</div>

<div class="row">
	<div class="col-md-6">

		<div class="panel panel-default">
		  <div class="panel-heading">
		  	<a class="btn btn-primary" ng-click=""><span class="glyphicon-class glyphicon glyphicon-plus"></span> Add new</a>
		  </div>

		  <div class="panel-body">
		  	<form class="form-inline">
		  		<div class="form-group">
		  		<input type="text" ng-model="newTodoItem" class="form-control" >
		  		</div>
		  		<a href="" class="btn btn-primary"><span class="glyphicon-class glyphicon glyphicon-ok"></a>
		  	</form>

			<ul class="list-group" style="margin-top:20px;">
				<li class="list-group-item"></li>
			</ul>
		  </div>
		</div>
	</div>
</div>



	




